    <div>
        <h3>Voting made easy and secure.</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="confirm-registration">
              <h4>See if you are registered to vote.</h4>
              <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">South African ID Number</label>
              </div>
              <br>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary btn-lg" type="button">Verify</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="prompt-register">
              <h4>Not yet registered to vote?</h4>
              <p>Start Your Registration Now.</p>
              <button type="button" class="btn btn-primary btn-lg" type="button">Register</button>
            </div>
          </div>
        </div>
      </div>
      
