<app-nav></app-nav>
<div *ngIf="registered !== false" class="vote">
    <h3>Start the voting process here..</h3>
    <br><br>
    <div class="row">
        <div class="card-deck"></div>
      <div *ngFor="let party of parties" class="card border-info text-center h-100" style="width: 10rem;">
          <img src="{{party.logo}}" class="card-img-top" height="136px"  alt="{{party.short_name}}'s logo">
          <div class="card-body">
          <a href="#" (click)="confirmParty(party.short_name,party.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Vote {{party.short_name}}</a>
          </div>
        </div>
       
    </div>
  </div>

  <div *ngIf="registered === false" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">You are not registered to vote!</h4>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol></svg>
      <p>{{message}}</p>
    <hr>
    <p class="mb-0">Go back home <a routerLink="login" class="btn btn-primary btn-lg">Home</a></p>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Vote</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you confirm to vote for {{selectedParty}}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button (click)="vote()" type="button" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    
